{:relational {:dbtype "h2:mem"  ; Use in-memory H2 database
              :dbname "test"    ; Name of the in-memory database
              :user "sa"        ; Default user for H2
              :password ""}
 :dynamodb {:access-key "test"
            :secret-key "test"
            :endpoint "http://localstack:4566"}

 :redis {:host "redis"
         :port  6379}}