{:relational {:dbtype "h2:mem"  ; Use in-memory H2 database
              :dbname "test"    ; Name of the in-memory database
              :user "sa"        ; Default user for H2
              :password ""}
 :dynamodb {:access-key "test"
            :secret-key "test"
            :endpoint "http://localhost:4566"}

 :kafka {:bootstrap-servers "localhost:9092"}

 :mongodb {:server-address "localhost"
           :db-name "dev_db"}
 
 :redis {:host "localhost"
         :port  6379}}