{:paths ["src" "resources"]
 :deps {cheshire/cheshire {:mvn/version "5.12.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
