{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        com.novemberain/monger {:mvn/version "3.6.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
