{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        amazonica/amazonica {:mvn/version "0.3.165"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
