{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/tools.logging {:mvn/version "1.2.3"}
        org.apache.logging.log4j/log4j-api {:mvn/version "2.17.1"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.17.1"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.17.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
